USE [master]
GO
/****** Object:  Database [VendMach]    Script Date: 17.03.2022 22:00:05 ******/
CREATE DATABASE [VendMach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendMach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendMach.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendMach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendMach_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendMach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendMach]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 17.03.2022 22:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
	[Cost] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Drinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendMachineDrinks]    Script Date: 17.03.2022 22:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendMachineDrinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendMachId] [int] NOT NULL,
	[DrinksId] [int] NOT NULL,
	[Count] [int] NOT NULL,
 CONSTRAINT [PK_VendMachineDrinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DrinksInMach]    Script Date: 17.03.2022 22:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DrinksInMach]
AS
SELECT        dbo.VendMachineDrinks.DrinksId, dbo.Drinks.Name, dbo.Drinks.Image, dbo.Drinks.Cost, dbo.VendMachineDrinks.Count, dbo.VendMachineDrinks.VendMachId
FROM            dbo.VendMachineDrinks INNER JOIN
                         dbo.Drinks ON dbo.VendMachineDrinks.DrinksId = dbo.Drinks.Id
WHERE        (dbo.VendMachineDrinks.VendMachId = 1)
GO
/****** Object:  Table [dbo].[Coins]    Script Date: 17.03.2022 22:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Denomination] [int] NOT NULL,
 CONSTRAINT [PK_Coins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendMachineCoins]    Script Date: 17.03.2022 22:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendMachineCoins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendMachId] [int] NOT NULL,
	[CoinsId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[IsActive] [int] NOT NULL,
 CONSTRAINT [PK_VendMachineCoins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CoinsInMach]    Script Date: 17.03.2022 22:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CoinsInMach]
AS
SELECT        dbo.VendMachineCoins.VendMachId, dbo.VendMachineCoins.CoinsId, dbo.Coins.Denomination, dbo.VendMachineCoins.Count, dbo.VendMachineCoins.IsActive
FROM            dbo.Coins INNER JOIN
                         dbo.VendMachineCoins ON dbo.Coins.Id = dbo.VendMachineCoins.CoinsId
GO
/****** Object:  Table [dbo].[VendingMachine]    Script Date: 17.03.2022 22:00:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecretCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VendingMachine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Coins] ON 

INSERT [dbo].[Coins] ([Id], [Denomination]) VALUES (1, 10)
INSERT [dbo].[Coins] ([Id], [Denomination]) VALUES (2, 5)
INSERT [dbo].[Coins] ([Id], [Denomination]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[Coins] OFF
GO
SET IDENTITY_INSERT [dbo].[Drinks] ON 

SET IDENTITY_INSERT [dbo].[Drinks] OFF
GO
SET IDENTITY_INSERT [dbo].[VendingMachine] ON 

INSERT [dbo].[VendingMachine] ([Id], [SecretCode]) VALUES (1, N'1111')
INSERT [dbo].[VendingMachine] ([Id], [SecretCode]) VALUES (2, N'4321')
INSERT [dbo].[VendingMachine] ([Id], [SecretCode]) VALUES (3, N'5555')
SET IDENTITY_INSERT [dbo].[VendingMachine] OFF
GO
SET IDENTITY_INSERT [dbo].[VendMachineCoins] ON 

INSERT [dbo].[VendMachineCoins] ([Id], [VendMachId], [CoinsId], [Count], [IsActive]) VALUES (1, 1, 1, 229, 0)
INSERT [dbo].[VendMachineCoins] ([Id], [VendMachId], [CoinsId], [Count], [IsActive]) VALUES (2, 1, 2, 112, 1)
INSERT [dbo].[VendMachineCoins] ([Id], [VendMachId], [CoinsId], [Count], [IsActive]) VALUES (3, 1, 3, 105, 0)
SET IDENTITY_INSERT [dbo].[VendMachineCoins] OFF
GO
SET IDENTITY_INSERT [dbo].[VendMachineDrinks] ON 

INSERT [dbo].[VendMachineDrinks] ([Id], [VendMachId], [DrinksId], [Count]) VALUES (1, 1, 1, 6)
INSERT [dbo].[VendMachineDrinks] ([Id], [VendMachId], [DrinksId], [Count]) VALUES (2, 1, 2, 15)
INSERT [dbo].[VendMachineDrinks] ([Id], [VendMachId], [DrinksId], [Count]) VALUES (3, 1, 3, 15)
SET IDENTITY_INSERT [dbo].[VendMachineDrinks] OFF
GO
ALTER TABLE [dbo].[VendMachineCoins]  WITH CHECK ADD  CONSTRAINT [FK_VendMachineCoins_Coins] FOREIGN KEY([CoinsId])
REFERENCES [dbo].[Coins] ([Id])
GO
ALTER TABLE [dbo].[VendMachineCoins] CHECK CONSTRAINT [FK_VendMachineCoins_Coins]
GO
ALTER TABLE [dbo].[VendMachineCoins]  WITH CHECK ADD  CONSTRAINT [FK_VendMachineCoins_VendingMachine] FOREIGN KEY([VendMachId])
REFERENCES [dbo].[VendingMachine] ([Id])
GO
ALTER TABLE [dbo].[VendMachineCoins] CHECK CONSTRAINT [FK_VendMachineCoins_VendingMachine]
GO
ALTER TABLE [dbo].[VendMachineDrinks]  WITH CHECK ADD  CONSTRAINT [FK_VendMachineDrinks_Drinks] FOREIGN KEY([DrinksId])
REFERENCES [dbo].[Drinks] ([Id])
GO
ALTER TABLE [dbo].[VendMachineDrinks] CHECK CONSTRAINT [FK_VendMachineDrinks_Drinks]
GO
ALTER TABLE [dbo].[VendMachineDrinks]  WITH CHECK ADD  CONSTRAINT [FK_VendMachineDrinks_VendingMachine] FOREIGN KEY([VendMachId])
REFERENCES [dbo].[VendingMachine] ([Id])
GO
ALTER TABLE [dbo].[VendMachineDrinks] CHECK CONSTRAINT [FK_VendMachineDrinks_VendingMachine]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Coins"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "VendMachineCoins"
            Begin Extent = 
               Top = 6
               Left = 250
               Bottom = 136
               Right = 424
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CoinsInMach'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CoinsInMach'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "VendMachineDrinks"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Drinks"
            Begin Extent = 
               Top = 6
               Left = 250
               Bottom = 136
               Right = 424
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DrinksInMach'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DrinksInMach'
GO
USE [master]
GO
